/* @import url("https://p.typekit.net/p.css?s=1&k=znv8avo&ht=tk&f=1090.1091.1092.29965.29966.29967.29968.29969.29970.29971.29972.29973.29974.54138.54139.54140.54141&a=18253785&app=typekit&e=css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "sweater-school";
  src: url("https://use.typekit.net/af/3d7f67/000000000000000077359806/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3d7f67/000000000000000077359806/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3d7f67/000000000000000077359806/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sweater-school";
  src: url("https://use.typekit.net/af/763869/00000000000000007735980c/30/l?subset_id=2&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/763869/00000000000000007735980c/30/d?subset_id=2&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/763869/00000000000000007735980c/30/a?subset_id=2&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "sweater-school";
  src: url("https://use.typekit.net/af/c7ff3e/000000000000000077359810/30/l?subset_id=2&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c7ff3e/000000000000000077359810/30/d?subset_id=2&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c7ff3e/000000000000000077359810/30/a?subset_id=2&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

*,
html,
body {
  font-family: "sweater-school", sans-serif !important;
}
